.root {}

.input {
    padding: 0.6em 0.8em;
    border: 1px solid #545454;
    border-radius: 0.2em;

    &:focus {
        border: 1px solid #001D77;
        outline: unset;
        box-shadow: 0 0 20px -6px #001D77;
        width: 75%;
    }

    width:75%;
}